/*Selector universal */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

/*Selector por etiquetas*/
header {
    background-color: green;
    text-align: center;
    color: white;
    padding: 10px;
}

footer {
    background-color: green;
    text-align: center;
    color: white;
    padding: 10px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 50px;
}

a {
    font-size: 10px;
    color: #7D0A42;
    text-decoration: none;
}

footer a {
    color: azure;
}

/*Selector por identificacion*/
#principal {
    border: 5px solid skyblue;
    padding: 10px;
    font-style: italic;
}

#primaria {
    margin-left: 18%;
}

#Contenido {
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}
#menu {
    background-color: gray;

}
#menu ul li {
    display: block;
    float: left;
    border-right: rgb(139, 160, 119) 2px solid;
}
#menu ul li a{
    display: block;
    padding: 15px;
    color: white;
}
/*Selector por clase*/
.clearFix{
    float: none;
    clear: both;

}
/*Selector por pseudoclase*/
#menu ul li:hover{
    background-color: blue;
    cursor: pointer;
}
#menu ul li:hover a {
    color: white;
}
/*Selector por atributo*/
#principal form{
    border: 5px rgb(16, 202, 16) solid;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}
#principal form *{
    display:  inline-block;
}
input[type="text"], select {
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
}
select{
    width: 350px;
}
input[type="submit"],button{
    background:rgb(16, 202, 16);
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform:  uppercase;
    border: solid black;
    cursor: pointer;
}